<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 27.09.2018, 14:05</p>
            <h2><a href="">My first post</a></h2>
            <p>이건 어느나라 말이냐...</p>
        </div>

        <div>
            <p>published: 27.09.2018, 14:06</p>
            <h2><a href="">My second post</a></h2>
            <p>얘들 단체로 왜이러냐...</p>
        </div>
    </body>
</html>
